<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Halısaha Değerlendirme</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="css/degerlendir.css">    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<%-include("partials/header") %>

<body>




    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-md-4">
                <div class="testimonial-box">
                    <i id="avatar" class="fas fa-user-astronaut"></i>
                    <div class="ratings-icons">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <h4>Mücahit Özalp</h4>
                    <p>Halısahanıza internet üzerinden yer ayırtarak geldik. Servis söylenen saatte belirtilen
                        konumdaydı. Tüm Hizmetlerinizi çok beğendik. 5 yıldızı hakkettiniz.</p>

                </div>
            </div> <!-- End Col -->

            <div class="col-sm-6 col-md-4">
                <div class="testimonial-box">
                    <i id="avatar" class="fas fa-user-tie"></i>
                    <div class="ratings-icons">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <h4>Oğuzhan Bayrak</h4>
                    <p>Halısaha sahibi çok güleryüzlü tatlı bir abimiz. Sitenizin tasarımı ve kullanım kolaylığına
                        bayıldık. Eskiden halısahayı arayıp dakikalarca konuşma sonucu rezerve yaptırıyorduk. Birkaç
                        tıklamayla bu külfetten bizi kurtarmışsınız tebrik ederim.</p>

                </div>
            </div> <!-- End Col -->

            <div class="col-sm-6 col-md-4">
                <div class="testimonial-box">
                    <i id="avatar" class="fas fa-user-ninja"></i>
                    <div class="ratings-icons">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                    <h4>Ömer Şahin</h4>
                    <p>Genelde soyunma odaları ter ve çorap kokusundan geçilmez. Havalandırmanız ve hijyen mukemmel.
                        Ödeme ve rezervasyon kısmına diyecek yok. İnanılmaz kullanışlı.</p>

                </div>
            </div> <!-- End Col -->


        </div>
    </div>

</body>

</html>