<!DOCTYPE html>
<html lang="tr" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">

  <!-- Ozel css dosyamız -->
  <link rel="stylesheet" href="css/main.css">
  <title></title>
</head>
<%- include("partials/header") %>


<%- include("partials/footer") %>

<body>

</body>

</html>