<!DOCTYPE html>
<html lang="tr" dir="ltr">

<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">

    <!-- Ozel css dosyamız -->
    <link rel="stylesheet" href="css/muco.css">


</head>

<%-include("partials/header") %>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <form>
                            <div class="form-header">
                                <h1>Profil güncelle</h1>
                            </div>
                            <!-- GÜNCELLEME FORMU -->

                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">İsim </label>
                                    <input class="form-control" type="text" placeholder="İsim giriniz">
                                </div>
                            </div>


                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">Soyisim: </label>
                                    <input class="form-control" type="text" placeholder="Soyisim giriniz">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">Email:</label>
                                    <input class="form-control" type="email" placeholder="email giriniz">
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">Kullanıcı adı:</label>
                                    <input class="form-control" type="kullaniciAdi" placeholder="kullaniciAdi">
                                </div>
                            </div>

                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">Şifre :</label>
                                    <input class="form-control" type="password" placeholder="11111122333">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">Yeni şifre :</label>
                                    <input class="form-control" type="password" placeholder="11111122333">
                                </div>
                            </div>

                            


                            <div class="row">
                                <div class="form-group">
                            
                                    <div class="col-md-8">
                                        <input class="btn btn-primary" value="Save Changes" type="button">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <input class="btn btn-default" value="Cancel" type="reset">
                                    </div>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>

    <body>
        <%-include("partials/footer") %>

</html>