<html>

<head>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <!-- Ozel css dosyamız -->
    <link rel="stylesheet" href="css/muco.css">

</head>

<%-include("partials/header") %>

<body>
    	<div id="booking" class="section">
                <div class="section-center">
                    <div class="container">
                        <div class="row">
                            <div class="booking-form">
                                
                                <form>
                                        <div class="form-header">
                                                <h1>Randevu</h1>
                                            </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Name</span>
                                                <input class="form-control" type="text" placeholder="Enter your name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="form-label">Email</span>
                                                <input class="form-control" type="email" placeholder="Enter your email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <span class="form-label">Telefon</span>
                                        <input class="form-control" type="tel" placeholder="Enter your phone number">
                                    </div>
                                    <div class="form-group">
                                        <span class="form-label">Servis ister misin? </span>
                                        <input type="checkbox" name="servisEvet" value="servisEvet">Evet<br>
                                        <input type="checkbox" name="servisHayır" value="servisHayır">Hayır<br>
                                    </div>
                                    <div class="form-group">
                                        <span class="form-label">Video ister misin?</span>
                                        <input type="checkbox" name="videoeEvet" value="videoeEvet">Evet<br>
                                        <input type="checkbox" name="videoHayır" value="videoHayır">Hayır<br>
                                    </div>
                                    <div class="form-group">
                                            <span class="form-label">Hakem ister misin?</span>
                                            <input type="checkbox" name="hakemEvet" value="hakemEvet">Evet<br>
                                            <input type="checkbox" name="hakemhayır" value="hakemhayır">Hayır<br>
                                        </div>
                                       
                                               
                                                        <div class="form-group" id="combo-eksikoyuncu">
                                                            <span class="form-label ">Eksik oyuncu ?</span>
                                                            <select class="form-control">
                                                                
                                                              
                                                                <option>0</option>
                                                                <option>1</option>
                                                                <option>2</option>
                                                                <option>3</option>
    
                                                            </select>
                                                            <span class="select-arrow"></span>
                                                        </div>
                                                    
                                                
                                            
                                        
                                        <div class="form-group">
                                                <span class="form-label">Ödeme seçeneği?</span>
                                                <input type="checkbox" name="nakit" value="nakit">Nakit<br>
                                                <input type="checkbox" name="kart" value="kart">Kredi/Banka kartı<br>
                                            </div>
                                             
                                      
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <span class="form-label">Randevu Tarihi</span>
                                                <input class="form-control" type="date" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <span class="form-label">Saat</span>
                                                        <select class="form-control">
                                                            
                                                            <option>10</option>
                                                            <option>11</option>
                                                            <option>12</option>
                                                            <option>13</option>
                                                            <option>14</option>
                                                            <option>15</option>
                                                            <option>16</option>
                                                            <option>17</option>
                                                            <option>18</option>
                                                            <option>19</option>
                                                            <option>20</option>
                                                            <option>21</option>
                                                            <option>20</option>
                                                            <option>22</option>
                                                            <option>23</option>
                                                            <option>00</option>
                                                            <option>01</option>
                                                            <option>02</option>
                                                            <option>03</option>

                                                        </select>
                                                        <span class="select-arrow"></span>
                                                    </div>
                                                </div>
                                                
                                              
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-btn">
                                        <button class="submit-btn">Randevu oluştur</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body><!-- This templates was made by Colorlib (https://colorlib.com) -->


     <!-- /.container -->
    <%-include("partials/footer") %>
</body>

</html>